.work-experience {
  padding: clamp(4rem, 8vw, 6.25rem) clamp(1rem, 2vw, 1.25rem);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .container {
    max-width: clamp(1000px, 85vw, 1200px);
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  h2 {
    font-size: clamp(2rem, 2.5vw, 2.5rem);
    margin-bottom: clamp(1rem, 2vw, 2rem);
    color: var(--text-color);
  }
  
  p {
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    color: var(--text-gray);
  }
}